<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link href="/style.css" rel="stylesheet" type="text/css">
  <link href="/form.css" rel="stylesheet" type="text/css">
  <link href="/sign-in.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <%- include('../partials/_navbar.ejs') %>
  </header>
  <main>
    <h1>Sign in</h1><br>
    <form action="/auth/sign-in" method="POST">
      <label for="username">Username:</label>
      <div class="input-box" id="username-box">
        <input type="text" name="username" id="username" required autofocus/>
      </div>
      <label for="password">Password:</label>
      <div class="input-box" id="password-box">
        <input type="password" name="password" id="password" required/>
      </div>
      <button type="submit">Sign in</button>
    </form>
  </main>
</body>

</html>