<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <h1>More Than Music</h1>
</body>
</html>
