<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <img src="https://i.imgur.com/ufwgVk4.png" alt="logo that says More than Music" id="logo">
    <%- include('./partials/_navbar.ejs') %>
  </header>
  <main>

  </main>
</body>
</html>
